<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/header")%>
    <title><%= title%></title>
  </head>
  <body>
    <%- include("partials/navigation")%>

    <!-- Contenido principal -->
    <main
      class="container vh-100 text-center pt-2 d-flex justify-content-center align-items-center"
    >
      <section>
        <h1 class="display-1">About</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique
          reprehenderit, autem quos ad ullam cumque vel et. Nihil unde facere
          debitis quis, reprehenderit animi nobis ipsum voluptatem? Laudantium
          assumenda exercitationem similique fugiat aliquid doloribus eos, nulla
          quam, recusandae porro dolor accusantium incidunt, ratione omnis unde
          voluptatem doloremque! Voluptatibus adipisci animi blanditiis
          consequuntur iste velit ut ipsum autem est enim numquam earum soluta,
          hic deleniti doloremque voluptatum, at nulla, consectetur eum. Eum ut
          accusamus delectus nihil porro expedita. Sit iste obcaecati quibusdam,
          beatae, ipsum saepe in perspiciatis quam minima eius dolores repellat
          impedit. Fuga dolorum aspernatur possimus consequuntur ducimus
          assumenda ut ratione corporis eveniet distinctio odio dignissimos
          laudantium, neque, numquam soluta doloribus saepe asperiores in
          repellat odit accusantium adipisci blanditiis incidunt quia?
          Consequuntur totam quidem eius? Alias rem enim, saepe soluta magnam
          dignissimos. Animi libero accusamus aperiam, dolor quidem doloribus
          voluptatibus maiores et itaque facere voluptatem temporibus, ullam,
          ipsa quisquam! Nostrum aliquam rem facere nisi, nobis doloribus
          molestiae incidunt maiores? Impedit magnam nemo blanditiis. Quam quasi
          assumenda repellendus dolorem officia maiores nulla sapiente dolorum
          sequi harum perferendis eum iusto magni temporibus vitae quos, qui
          corporis adipisci tenetur. Animi inventore dignissimos unde quia harum
          enim, delectus dolore repellat non ducimus perferendis accusantium?
        </p>
      </section>
    </main>

    <%- include("partials/footer")%>
  </body>
</html>
