<footer class="bg-dark text-center p-2">
  <p class="h4 p-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur, impedit.
  </p>
</footer>

<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
