<!-- <footer class="bg-dark text-center p-2">
  <a href="https://www.instagram.com/lapizzadeelcanas?igsh=MWh4NHZwc3gxa2pzNA==" target="_blank" class=""><i
      class="fab fa-instagram"></i></a>
  <a href="https://www.facebook.com/profile.php?id=100063942588806&mibextid=ZbWKwL" target="_blank" class=""><i
      class="fab fa-facebook"></i></a>
  <a href="https://wa.me/3106749454?text=Hola,%20me%20gustaría%20ordenar%20una%20pizza" target="_blank" class=""><i
      class="fa-brands fa-whatsapp"></i></a>
</footer> -->
<footer class="text-center p-2 bg-dark text-white">

  <section class="d-flex justify-content-end p-4">
    <div>
      <a href="https://wa.me/3209877452" target="_blank" class="me-4 text-reset">
        <i class="fab fa-whatsapp"></i>
      </a>
      <a href="https://linkedin.com/in/yeisonsuarez23" target="_blank" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://github.com/yeison02" target="_blank" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>

  </section>
</footer>

<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>