<footer>
  <h1>Lorem, ipsum dolor.</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, aliquam
    perspiciatis ab facere quod porro dignissimos aliquid iusto quo totam,
    doloribus nesciunt dolore, veniam dolor voluptatem. Accusantium, officiis
    praesentium maiores molestiae quia cupiditate, saepe quisquam voluptatem et
    cum dolorum tenetur sapiente nobis sunt eos, tempora id molestias fugit qui
    excepturi similique voluptates? Molestias, voluptatum! Dicta consequatur
    optio dolor accusamus porro quo quas culpa mollitia totam maiores esse
    eveniet, nostrum ipsa rem repellendus? Quisquam accusantium aliquam illum
    corporis? Doloremque, quia? Voluptatibus magnam ad at nam perferendis quia
    dicta illo quod quos modi! Quia similique distinctio iusto aut quod
    perferendis totam odio.
  </p>
</footer>
